# Python
__pycache__/
*.pyc
*.pyo

# Node
node_modules/
fronted_v2/node_modules/

# Logs
logs/
*.log

# Uploads
uploads/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Vite
fronted_v2/node_modules/.vite/
